@import url('./confetti.css');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.game-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header__title {
    text-align: center;
    margin: 0;
    color: #fff;
}

.game-section {
    padding-top: 50px;
}

.game-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-menu__title {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.game-menu__difficult-btn,
.restart-btn {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #222;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.game-menu__difficult-btn:not(:last-child) {
    margin-bottom: 10px;
}
.game-menu__difficult-btn {
    padding: 15px 20px;
    background-color: #5dc6ff;
}

.game-menu__difficult-btn:hover {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #222;
    color: #fff;
}
